<div class="content">
  <div class="background-image hidden-sm-down col-md-8 col-lg-8"></div>
  <div class="form-wrapper col-sm-12 col-md-4 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <img src="../../../assets/images/logo.png" class="logo" alt="">
        <p class="ff-headers text-uppercase">Create an account</p>
      </div>
      <hr/>
      <fieldset class="form-group" [ngClass]="{'has-danger': !form.controls['email'].valid && form.controls['email'].dirty}">
        <label for="email">
          Enter your email address
        </label>
        <input type="text" class="form-control" placeholder="Email" [formControl]="form.controls['email']" [ngClass]="{'form-control-danger': !form.controls['email'].valid && form.controls['email'].dirty}"/>
        <div class="form-control-feedback" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].dirty">Email address is required.</div>
        <div class="form-control-feedback" *ngIf="form.controls['email'].hasError('email') && form.controls['email'].dirty">Please enter a valid email address.</div>
      </fieldset>

      <fieldset class="form-group" [ngClass]="{'has-danger': !form.controls['firstname'].valid && form.controls['firstname'].dirty}">
        <label for="firstname">
          Enter firstname
        </label>
        <input type="text" class="form-control" placeholder="Firstname" [formControl]="form.controls['firstname']" [ngClass]="{'form-control-danger': !form.controls['firstname'].valid && form.controls['firstname'].dirty}"/>
        <div class="form-control-feedback" *ngIf="form.controls['firstname'].hasError('required') && form.controls['firstname'].dirty">Firstname is required.</div>
        <div class="form-control-feedback" *ngIf="form.controls['firstname'].hasError('minlength') && form.controls['firstname'].dirty">Firstname must be at least 2 characters long.</div>
      </fieldset>

      <fieldset class="form-group" [ngClass]="{'has-danger': !form.controls['lastname'].valid && form.controls['lastname'].dirty}">
        <label for="lastname">
          Enter lastname
        </label>
        <input type="text" class="form-control" placeholder="Lastname" [formControl]="form.controls['lastname']" [ngClass]="{'form-control-danger': !form.controls['lastname'].valid && form.controls['lastname'].dirty}"/>
        <div class="form-control-feedback" *ngIf="form.controls['lastname'].hasError('required') && form.controls['lastname'].dirty">Lastname is required.</div>
        <div class="form-control-feedback" *ngIf="form.controls['lastname'].hasError('minlength') && form.controls['lastname'].dirty">Lastname must be at least 2 characters long.</div>
      </fieldset>

      <fieldset class="form-group" [ngClass]="{'has-danger': !form.controls['password'].valid && form.controls['password'].dirty}">
        <label for="password">
          Enter your password *
        </label>
        <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['password']" [ngClass]="{'form-control-danger': !form.controls['password'].valid && form.controls['password'].dirty}"/>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].dirty">Password is required.</div>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].dirty">Password must be at least 6 characters long.</div>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('uppercaseCharacterRule') && form.controls['password'].dirty">Passwords must contain an least one upper case character.</div>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('digitCharacterRule') && form.controls['password'].dirty">Passwords must contain at least one digit.</div>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('specialCharacterRule') && form.controls['password'].dirty">Passwords must contain at one special character (non letter/digit).</div>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('lowercaseCharacterRule') && form.controls['password'].dirty">Passwords must contain an least one lower case character.</div>
      </fieldset>
      
      <fieldset class="form-group" [ngClass]="{'has-danger': !form.controls['confirmPassword'].valid && form.controls['confirmPassword'].dirty}">
        <label for="password">
          Confirm your password
        </label>
        <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['confirmPassword']" [ngClass]="{'form-control-danger': !form.controls['confirmPassword'].valid && form.controls['confirmPassword'].dirty}"/>
        <div class="form-control-feedback" *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].dirty">Confirm your password.</div>
        <div class="form-control-feedback" *ngIf="form.controls['confirmPassword'].hasError('mismatchedPasswords') && form.controls['confirmPassword'].dirty">Passwords do not match.</div>
      </fieldset>
      <label class="terms-of-service">
        <input type="checkbox" class="custom-control-input" [formControl]="form.controls['termsAndConditions']">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">I have read and agree to the <a target="_blank" routerLink="/termsofservice">terms of service</a>.</span>
      </label>
      <div class="block mb-3"></div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid || posting">Create Account</button>
      <button class="btn btn-login btn-primary" type="button" [routerLink]="['/auth/signin']">
        <i class="fa fa-sign-in"></i>
        &nbsp; Back to Login
      </button>
    </form>
    <hr/>
    <small>
      * Passwords must:
       <ul>
        <li>be at least 6 characters long</li>
        <li>contain at least one lowercase letter (a-z)</li>
        <li>contain at least one uppercase letter (A-Z)</li>
        <li>contain at least one digit (0-9)</li>
        <li>contain at least one symbol (non letter/digit)</li>
       </ul>
    </small>
  </div>
</div>