.wrapper {
    height: 100%;
}

.chat-container {
    position: absolute;
    right: 10px;
    bottom: 40px; 
    width: 20%;
    min-width: 200px;
}

.fa-heart {
    color: red;
}

menu {
    margin: 0;
}

.content {
    padding: 0;
    margin: 0;
}