<!-- Site wrapper -->
<navheader></navheader>
<menu></menu>
<div class="wrapper">
<div class="content-wrapper">
  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>
</div>

<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> {{version}}
  </div>
  <strong>Coded with <i class="fa fa-heart"> </i> by <a target="NewTab" href="https://gitlab.com/matthewamarlin">Matthew Marlin</a></strong>
</footer>

<!-- <div class="chat-container">
  <chat></chat>
<div> -->
