.content{
    background-image: url("/assets/images/bg5.jpg");
    height: 100vh;
    width: 100vw;
    text-align: center
}

.content-inner {
    display: inline-block;
    margin-top: 5rem;
    width: 30%;
}

img {
    max-width: 128px;
}

.mb-2 {
    margin-bottom: 2rem;
}