<div class="content text-center">
  <div class="content-inner">
    <img src="assets/images/user.jpg" class="img-circle mb-2" alt="user" title="user"/>
    <div class="mb-2">
      <p class="ff-headers text-uppercase">{{username}}</p>
      <small>Your account has been locked.</small>
    </div>
    <div class="mb-2">
      <form role="form" (ngSubmit)="onSubmit()">
        <input type="text" class="form-control" placeholder="Please enter the unlock code and press enter">
      </form>
    </div>
  </div>
</div>
