<div class="content">
  <div class="">
    <div class="ff-headings text-uppercase">Error 500</div>
    <h6 class="">Internal server failure 😞</h6>
    <small class="">Sorry something went wrong with our servers.</small>
  </div>
</div>
