<div class="content">
  <div>
    <div class="ff-headings text-uppercase">Error 503</div>
    <h6>Service currently unavailable. 😞</h6>
    <small>The server is currently unable to handle the request. Please try again in a few minutes.</small>
  </div>
</div>
