.show-hide-input-component {

    //Deep used here to be able select within ngContent
    /deep/ input {
        background: white;
    }

    .disable-select {
        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;      
        user-select: none;
    }
}