<div class="show-hide-input-component input-append input-group">
    <ng-content></ng-content>
    <span class ="disable-select add-on input-group-addon" (click)="toggleShow()" >
        <i *ngIf="!show" class="fa fa-eye" aria-hidden="true" title="Show Password"></i>
        <i *ngIf="show" class="fa fa-eye-slash" aria-hidden="true"  title="Hide Password"></i>
    </span>
</div>