<div class="content">
  <div class="">
    <div class="ff-headings">Error 404</div>
    <h6 class="">Page not found</h6>
    <small class="ff-headings">Sorry, but the page you were trying to view does not exist. <a [routerLink]="['/']">Take me home</a></small>
  </div>
</div>
