<div class="content">
  <div class="background-image hidden-sm-down col-md-8 col-lg-8"></div>
  <div class="form-wrapper col-sm-12 col-md-4 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <img src="../../assets/images/logo.png" class="logo" alt="">
        <p class="ff-headers text-uppercase">Reset your password</p>
      </div>
      
      <fieldset class="form-group" [ngClass]="{'has-danger': !form.controls['password'].valid && form.controls['password'].dirty}">
        <label for="password">
          Enter your new password
        </label>
        <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['password']" [ngClass]="{'form-control-danger': !form.controls['password'].valid && form.controls['password'].dirty}"/>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].dirty">Password is required.</div>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].dirty">Password must be at least 6 characters long.</div>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('uppercaseCharacterRule') && form.controls['password'].dirty">Passwords must contain an least one upper case character.</div>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('digitCharacterRule') && form.controls['password'].dirty">Passwords must contain at least one digit.</div>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('specialCharacterRule') && form.controls['password'].dirty">Passwords must contain at one special character (non letter/digit).</div>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('lowercaseCharacterRule') && form.controls['password'].dirty">Passwords must contain an least one lower case character.</div>
      </fieldset>
      
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].dirty}">
        <label for="password">
          Confirm your password
        </label>
        <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['confirmPassword']" [ngClass]="{'form-control-danger': !form.controls['confirmPassword'].valid && form.controls['confirmPassword'].dirty}"/>
        <div class="form-control-feedback" *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].dirty">Confirm your password.</div>
        <div class="form-control-feedback" *ngIf="form.controls['confirmPassword'].hasError('mismatchedPasswords') && form.controls['confirmPassword'].dirty">Passwords do not match.</div>
      </fieldset>

      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Reset password</button>
    </form>
  </div>
</div>