<div class="content">
  <div class="background-image hidden-sm-down col-md-8 col-lg-8"></div>
  <div class="form-wrapper col-sm-12 col-md-4 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <img src="../../assets/images/logo.png" class="logo" alt="">
        <p class="ff-headers text-uppercase">Reset your password</p>
      </div>
      <fieldset class="form-group" [ngClass]="{'has-danger': (form.controls['email'].hasError('required')|| form.controls['email'].hasError('email')) && form.controls['email'].touched}">
        <label for="email" class="form-control-label">
          Enter your email address
        </label>
        <input spellcheck="false" type="text" class="form-control" placeholder="user@domain.com" [formControl]="form.controls['email']" [ngClass]="{'form-control-danger': form.controls['email'].hasError('required') && form.controls['email'].touched}"/>
        <div class="form-control-feedback" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">Email address is required.</div>
        <div class="form-control-feedback" *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched && !form.controls['email'].hasError('required')">Please enter a valid email address.</div>
      </fieldset>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Reset Password</button>
    </form>
  </div>
</div>