.background-image {
  background-image: url('../../../assets/images/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.content {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.logo {
  height: 6em;
  padding-bottom: 1em;
}

.form-wrapper {
  padding: 2em;
}

.form-control-feedback {
  position: relative;
  width: auto;
  height: auto;
  text-align: left;
  color: red;
}

.has-danger {
  input {
    border-color: red;
  }
}