/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
    font-family: 'Arimo', Helvetica, sans-serif;
}

.ff-headers {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.text-uppercase {
    text-transform: uppercase; 
}

.text-lowercase {
    text-transform: lowercase; 
}

.has-danger{
    .form-control-danger{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d50000' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
        padding-right: 2.25rem;
        background-repeat: no-repeat;
        background-position: center right .5234375rem;
        background-size: 2rem 2rem;
        background-clip: padding-box;
    }
}

.form-control {
    font-size: 14px;
}

@media (max-width: 991px) {
    .hidden-sm-down {
        display: none !important;
    }
}