<div class="content">
  <div class="background-image hidden-sm-down col-md-8 col-lg-8"></div>
  <div class="form-wrapper col-sm-12 col-md-4 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-heading">
        <img src="../../../assets/images/logo.png" class="logo" alt="">
        <p class="ff-headers text-uppercase">Sign in to your account</p>
      </div>
      <hr/>
      <fieldset class="form-group" [ngClass]="{'has-danger': !form.controls['email'].valid && form.controls['email'].dirty}">
        <label for="username" class="form-control-label">
          Enter your email address
        </label>
        <input type="text" class="form-control" placeholder="user@domain.com" [formControl]="form.controls['email']" [ngClass]="{'form-control-danger': !form.controls['email'].valid && form.controls['email'].dirty}"/>
        <div class="form-control-feedback" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].dirty">Email address is required.</div>
        <div class="form-control-feedback" *ngIf="form.controls['email'].hasError('email') && form.controls['email'].dirty && !form.controls['email'].hasError('required')">Please enter a valid email address.</div>
      </fieldset>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['password'].hasError('required') && form.controls['password'].dirty}">
        <label for="password" class="form-control-label">
          Enter your password
        </label>
        <show-hide-input>
          <input #showhideinput type="password" class="form-control" placeholder="********" [formControl]="form.controls['password']" [ngClass]="{'form-control-danger': !form.controls['password'].valid && form.controls['password'].dirty}"/>
        </show-hide-input>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].dirty">Password is required.</div>
        <a [routerLink]="['/auth/forgot']" class="form-text"><small class="disable-select">Recover password</small></a>
      </fieldset>
      <label class="custom-control custom-checkbox mb-3" title="Stores authentication credentials for automatic sign-in at a later date, even after closing the browser">
        <input type="checkbox" class="minimal" [formControl]="form.controls['rememberMe']">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Remember Me</span>
      </label>
      <div class="block"></div>
      <button class="btn btn-login btn-primary" type="submit" [disabled]="!form.valid" [title]="!form.valid ? 'Please enter valid details before attempting to login' : 'Login to your account'">
        <i class="fa fa-sign-in"></i>
        Login
      </button>
      <a class="btn btn-outline-primary btn-link" [routerLink]="['/auth/create']">Create an account!</a>
    </form>

    <hr>
    <!-- <thr>
      OR
    </thr> -->

    <!-- <ul> -->
      <!-- <li>
        <button class="btn btn-block btn-social btn-google" (click)="externalLogin('Google')">
          <span class="fa fa-google"></span>
          Sign in with Google
        </button>
      </li>
      <li>
        <button class="btn btn-block btn-social btn-facebook" (click)="externalLogin('Facebook')">
          <span class="fa fa-facebook"></span>
          Sign in with Facebook
        </button>
      </li> -->
      <!--<li>
        <button class="btn btn-block btn-social btn-twitter" (click)="externalLogin('Twitter')">
          <span class="fa fa-twitter"></span>
          Sign in with Twitter
        </button>
      </li>
      <li>
        <button class="btn btn-block btn-social btn-microsoft" (click)="externalLogin('Microsoft')">
          <span class="fa fa-windows"></span>
          Sign in with Microsoft
        </button>
      </li>
      <li>
        <button class="btn btn-block btn-social btn-openid" (click)="externalLogin('OpenId')">
          <span class="fa fa-openid"></span>
          Sign in with Open Id
        </button>
      </li>-->
    <!-- </ul> -->
</div>
