.content {
    height: 100% !important;
    padding: 0;
    margin: 0;

  .background-image {
    background-image: url('../../../assets/images/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }

  .logo {
    height: 6em;
    padding-bottom: 1em;
  }

  .form-wrapper {
    padding: 2em;
  }

  .form-control-feedback {
    position: relative;
    width: auto;
    height: auto;
    text-align: left;
    color: red;
  }

  .has-danger {
    input {
      border-color: red;
    }
  }

  ul {
    list-style: none;
    padding: 0;

     li{
       margin-top: 1rem;
     }
  }

  thr {
    font-weight: bold;
    margin: 100px;
  }

  .custom-checkbox {
    margin-bottom: 10px;
  }

  .btn-login {
    background: black;
    .fa-sign-in {
        padding-right: 1rem;
    }
  }
}