.background-image {
  background-image: url('../../../assets/images/bg4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.content {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.logo {
  height: 6em;
  padding-bottom: 1em;
}

.form-wrapper {
  padding: 2em;
}

.loading-section {
  .loading-text {
    text-align: center;
  }

  .loading-icon-wrapper {
    text-align: center;
    svg {
      width: 38px;
      height: 38px;   
    }
  }
}



.error-message{
  color: red;
}