<div class="content">
  <div class="background-image hidden-sm-down col-md-8 col-lg-8"></div>
  <div class="form-wrapper col-sm-12 col-md-4 col-lg-4 h-100">

    <div class="mb-3">
      <img src="../../assets/images/logo.png" class="logo" alt="Angular OAuth">
      <p class="ff-headers text-uppercase">Account Confirmation</p>
    </div>

    <hr/>

    <div>
      <div *ngIf="state == ConfirmAccountComponentState.Loading"
            class="loading-section">
        <div class="loading-text">
          <span>Please wait, while we verify your account</span>
        </div>
        <div class="loading-icon-wrapper">
          <svg width="120" height="30" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="#000" class="loader">
              <circle cx="15" cy="15" r="15">
                  <animate attributeName="r" from="15" to="15"
                          begin="0s" dur="0.8s"
                          values="15;9;15" calcMode="linear"
                          repeatCount="indefinite" />
                  <animate attributeName="fill-opacity" from="1" to="1"
                          begin="0s" dur="0.8s"
                          values="1;.5;1" calcMode="linear"
                          repeatCount="indefinite" />
              </circle>
              <circle cx="60" cy="15" r="9" fill-opacity="0.3">
                  <animate attributeName="r" from="9" to="9"
                          begin="0s" dur="0.8s"
                          values="9;15;9" calcMode="linear"
                          repeatCount="indefinite" />
                  <animate attributeName="fill-opacity" from="0.5" to="0.5"
                          begin="0s" dur="0.8s"
                          values=".5;1;.5" calcMode="linear"
                          repeatCount="indefinite" />
              </circle>
              <circle cx="105" cy="15" r="15">
                  <animate attributeName="r" from="15" to="15"
                          begin="0s" dur="0.8s"
                          values="15;9;15" calcMode="linear"
                          repeatCount="indefinite" />
                  <animate attributeName="fill-opacity" from="1" to="1"
                          begin="0s" dur="0.8s"
                          values="1;.5;1" calcMode="linear"
                          repeatCount="indefinite" />
              </circle>
          </svg>
        </div>
      </div>

      <div *ngIf="state == ConfirmAccountComponentState.Success"
            class="success-section">
        <span class="message">{{message}}</span>
      </div>

      <div *ngIf="state == ConfirmAccountComponentState.Error"
          class="error-section">
        <span>An error occured during the account confirmation process</span>
        <br/>
        <span class="message">{{message}}</span>
      </div>

      <hr/>

      <div class="button-section">
        <button *ngIf="state == ConfirmAccountComponentState.Error"
                class="btn btn-login btn-primary" type="button" [routerLink]="['/support']">
          <i class="fa fa-phone"></i>
          Contact Support
        </button>

        <button *ngIf="state == ConfirmAccountComponentState.Success"
                class="btn btn-login btn-primary" type="button" [routerLink]="['/auth/signin']">
          <i class="fa fa-sign-in"></i>
          Login Now
        </button>
      </div>

    </div>
  </div>
</div>
